<div class="speech-container">
  <div class="speech-container--speech">
    <span class="speech-container--speech-original">{{ originalText }}</span>
    <strong>{{ text }}</strong>
  </div>
  <div class="speech-container--buttons">
    <button
      mat-button
      color="primary"
      aria-label="play-button with play icon"
      (click)="handleButtonStartClick($event)"
    >
      <mat-icon>play_arrow</mat-icon> Say it!!
    </button>
    <button
      mat-button
      color="primary"
      aria-label="stop-button with stop icon"
      (click)="handleButtonStartSlowClick($event)"
    >
      <mat-icon>stop</mat-icon> Say it slowly!!
    </button>
  </div>
</div>
