.speech-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--speech {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    font-size: larger;
  }

  &--speech-original {
    opacity: 0.5;
    margin: 0.2rem 0;
  }

  &--speech-converted {
    font-weight: bolder;
    display: flex;
    align-items: center;
  }

  &--buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // add gap
    > * {
      margin: 0 0.5rem;
    }
  }
}
